<div class="col-md-8">
    <div class="h-100 p-5 bg-secondary border rounded-3">
        <h1 class="display-4">Nosotros</h1>
        <p class="lead">Empresa de informática · Empresa de software · Servicio comercial</p>
        <div class="card ms-auto">
            <ul class="list-group">
                <li class="list-group-item list-group-item-warning"><i class="fas fa-thumbtack"></i>Ubicacion</li>
                <div class="ember-container">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3754.1584710234174!2d-99.8712867857758!3d19.790877234256296!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d258c339adf11b%3A0x45d6144a3c795092!2sLeica%20Soluciones!5e0!3m2!1ses-419!2smx!4v1639292651593!5m2!1ses-419!2smx"
                        width="625" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
                <li class="list-group-item list-group-item-success"> <a
                        href="https://leicasoluciones.com.mx/?fbclid=IwAR2OL6CkqMiyrlQR_xx5yPdLF1oMmYkGV1FzkGcRpxqn8TQ8xprDbSoOiYM"
                        target="_blank"><i class="fas fa-globe fa-fw"></i>https://leicasoluciones.com.mx/</a></li>
                <li class="list-group-item list-group-item-secondary"><i class="fas fa-phone fa-fw"></i>712 206 2324
                </li>
                <li class="list-group-item list-group-item-success"><a href="mailto:info@leicasoluciones.com.mx"><i
                            class="fas fa-at fa-fw"></i>info@leicasoluciones.com.mx</a></li>
                <li class="list-group-item list-group-item-secondary">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false"><i class="far fa-clock fa-fw"></i>
                        Horario
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Lunes: 9:00 - 18:00</a></li>
                        <li><a class="dropdown-item" href="#">Martes: 9:00 - 18:00</a></li>
                        <li><a class="dropdown-item" href="#">Miércoles: 9:00 - 18:00</a></li>
                        <li><a class="dropdown-item" href="#">Jueves: 9:00 - 18:00</a></li>
                        <li><a class="dropdown-item" href="#">Viernes: 9:00 - 18:00</a></li>
                        <li><a class="dropdown-item" href="#">Sábado: Cerrado</a></li>
                        <li><a class="dropdown-item" href="#">Domingo: Cerrado</a></li>
                    </ul>
                </div>
                </li>
                <li class="list-group-item list-group-item-success"> <a
                        href="https://www.instagram.com/leica_soluciones/" target="_blank">
                        <i class="fab fa-instagram fa-fw"></i>leicasolucionesoficial</a></li>

            </ul>
        </div>

    </div>
</div>