<div class="col-md-8">
    <div class="h-100 p-5 bg-secondary border rounded-3">
        <h1 class="display-4">
            <img src="/img/LeicaSolutions.png" class="rounded-circle mx-auto d-block m-4 logotype" alt="Logo" >
            Leica Soluciones</h1>
        <p class="lead">Consultoría Digital</p>
        <p>En este mundo online que crece exponencialmente, no puedes estar fuera. Es por eso que te brindamos un
            asesoramiento básico a integral para satisfacer las necesidades digitales en tu negocio o empresa.</p>
        <a href="https://www.facebook.com/leicasoluciones/" class="btn btn-primary btn-lg">¡¡¡ Vamos !!!</a>
    </div>
</div>