body {
    background: #bdc3c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2c3e50, #bdc3c7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2c3e50, #bdc3c7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.logo {
    width: 40%;
}

.logotype {
    width: 20%;
    float: right;
}

.parrafo {
    text-align: justify;
    float: left;
    margin-right: auto;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}